<form [formGroup]="registerForm">
  <div class="card p-5 w-75">
    <div class="card-body text-center mt-3">
      <h2 class="card-title">Create your account</h2>

      <!--UserName-->
      <div class="row mt-4 mb-2">
        <label class="col col-form-label">Enter your username</label>
        <div class="col-sm-9">
          <input type="text"
          class="form-control"
          formControlName="userName"
          placeholder="Username">
          @if (isValidField('userName')) {
            <span class="form-text text-danger">
              Please, choose a username
            </span>
            }
        </div>
      </div>

      <!--Email-->
      <div class="row mb-2">
        <label class="col col-form-label">Enter your email</label>
        <div class="col-sm-9">
          <input type="text"
          class="form-control"
          formControlName="email"
          placeholder="Email">
          @if (isValidField('email')) {
            <span class="form-text text-danger">
              Please, write a valid email
            </span>
            }
        </div>
      </div>

      <!--Password-->
      <div class="row mb-2">
        <label class="col col-form-label">Enter your password</label>
        <div class="col-sm-9">
          <input type="password"
          class="form-control"
          formControlName="password"
          placeholder="Password">
          @if (isValidField('password')) {
            <span class="form-text text-danger">
              Please, write your password
            </span>
            }
        </div>
      </div>

      <!--Confirm Password-->
      <div class="row mb-2">
        <label class="col col-form-label">Enter your password again</label>
        <div class="col-sm-9">
          <input type="password"
          class="form-control"
          formControlName="confirmPassword"
          placeholder="Password">
          @if (isValidField('confirmPassword')) {
            <span class="form-text text-danger">
              Please, write your password once more
            </span>
            }
        </div>
      </div>

      <button class="btn btn-warning btn-lg mt-3">Create account</button>

    </div>
  </div>
</form>


