<form [formGroup]="loginForm">
  <div class="card text-center text-white bg-dark w-75">
    <div class="card-body">
      <!--Nombre usuario-->
      <div class="row mb-2">
        <label class="col col-form-label">Username</label>
        <div class="col-sm-9">
          <input type="text"
          class="form-control"
          formControlName="name"
          placeholder="Username">
        </div>
      </div>

      <!--Email-->
      <div class="row mb-2">
        <label class="col col-form-label">Email</label>
        <div class="col-sm-9">
          <input type="text"
          class="form-control"
          formControlName="email"
          placeholder="Email">
        </div>
      </div>

      <!--Password-->
      <div class="row mb-2">
        <label class="col col-form-label">Password</label>
        <div class="col-sm-9">
          <input type="password"
          class="form-control"
          formControlName="password"
          placeholder="Password">
        </div>
      </div>

      <button class="btn btn-outline-warning btn-lg mt-3">SIGN IN</button>
      <div class="mt-2">
        Not a member? <a routerLink="/register">Register</a>
      </div>
    </div>
  </div>
</form>
