form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
  width: 900px;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}

a {
  color: rgba(255, 193, 7, 0.888)
}

button {
  width: 75%;
  border-radius: 30px;
}

input {
  background-color: #E9EBF0;
  border: 0;
}

