form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}

a {
  color: rgba(255, 193, 7, 0.888)
}

