
<section class="container-fluid p-5"
infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
(scrolled)="onScroll()" (scrolledUp)="scrollUp()">

@if (starshipList.length > 0) {

  @for (starship of starshipList; track $index) {

      <div class="row d-flex p-2 g-0">
        <div class="card">
          <div class="card-body bg-dark text-white border" (click)="showStarship(starship.id)">
            <h5 class="card-title">{{ starship.name.toUpperCase() }}</h5>
            <p class="card-text">{{ starship.model }}</p>
          </div>
        </div>
      </div>
  }
}

</section>



