<nav class="container-fluid p-5">

  @for (starship of starshipDetails; track $index) {

      <div class="row d-flex p-2 g-0">
        <div class="card">
          <div class="card-body bg-dark text-white border" (click)="showStarship(starship.id)">
            <h5 class="card-title">{{ starship.name.toUpperCase() }}</h5>
            <p class="card-text">{{ starship.model }}</p>
          </div>
        </div>
      </div>
  }


  <div class="d-grid gap-2 d-md-flex justify-content-md-center">
    <button type="button" class="btn btn-outline-warning btn-lg mt-3" >View More</button>
  </div>


</nav>
