<div class="container-fluid m-4"  style="width: 80%">
  <div class="row text-white border-secondary border-top border-bottom">
    <h5>STARSHIP</h5>
  </div>
  <div class="row mt-4">
    <div class="card bg-dark text-white justify-content-center mb-3">
      <div class="row g-0">
        <div class="col-md-6">
          <img [src]="starshipCard?.url" class="img-fluid rounded-start mt-3" alt="Starship pic">
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h5 class="card-title">{{ starshipCard?.name?.toUpperCase() }}</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p class="card-text"><em>Model: </em>{{ starshipCard?.model }}</p>
            <p class="card-text"><em>Cost in credits: </em>{{ starshipCard?.cost_in_credits }}</p>
            <p class="card-text"><em>Atmosferic Speed: </em>{{ starshipCard?.max_atmosphering_speed }}</p>
            <p class="card-text"><em>Length: </em>{{ starshipCard?.length }}</p>
            <p class="card-text"><em>Manufacturer: </em>{{ starshipCard?.manufacturer }}</p>
            <p class="card-text"><em>Crew: </em>{{ starshipCard?.crew }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
