<div class="container mt-4">
  <div class="row text-white border-secondary border-top border-bottom">
    <h5>STARSHIP</h5>
  </div>
  <div class="row d-flex justify-content-center mt-4">
    <div class="card bg-dark text-white mb-3">
      <div class="row g-0">
        <div class="col-md-6">
          <img src="..." class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h5 class="card-title">Starship.name</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p class="card-text">Model: starship.model</p>
            <p class="card-text">Cost in credits: starship.cost_in_credit</p>
            <p class="card-text">Atmosferic Speed: starship.max_atmosphering_speed</p>
            <p class="card-text">Length: starship.length</p>
            <p class="card-text">Manufacturer: starship.manufacturer</p>
            <p class="card-text">Crew: starship.crew</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
